doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width', initial-scale='1')
		title ThisProp
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
	body
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					button.navbar-toggle.collasped(type='button', data-target='#the-navbar', data-toggle='collapse')
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') ThisProp
				.navbar-collapse.collapse#the-navbar
					ul.nav.navbar-nav
						li
							a(href='/listings') Buy
						li
							a(href='#') Sell
					ul.nav.navbar-nav.navbar-right#user-menu
						li
							a(href='#')
								i.fa.fa-lg.fa-cog.fa-spin
		block body
		.fb-like(data-share='true', data-show-faces='true', data-layout='box_count', data-action='like')
script(src='http://code.jquery.com/jquery-2.1.3.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
script(src='http://www.parsecdn.com/js/parse-1.3.5.min.js')
script
	Parse.initialize("oR8lLc6Rwxtdnfc70vUA4UTa5gZkk3Zh8xkf2f2A", "Mv1QKomwzfLAXFsSdGcAfBqqZUB6URPWgw8s34Sq");
	var graph_path = 'https://graph.facebook.com/v2.2';

	window.fbAsyncInit = function() {
		Parse.FacebookUtils.init({ 
		appId			 : '591760294291555', // Facebook App ID
		//status		 : true,	// check Facebook Login status
		cookie		 : true,	// enable cookies to allow Parse to access the session
		xfbml			 : true,	// initialize Facebook social plugins on the page
		version		 : 'v2.2' // point to the latest Facebook Graph API version
		});

		console.log('parse loaded');

		//check login status
		FB.getLoginStatus(function(response) {
			//if the user is connected, set the name
			var user = null;
			if(response.status == 'connected'){
				var user = Parse.User.current();
			}

			//get the login menu based on logon status
			$.get('/login-menu', { status:response.status, username:user.get('name')}, function(data){
				//setup the login/logout menu
				$('#user-menu').empty().append(data).ready( function(){
					$('#logout-fb').click(function(){
						console.log('logout clicked');
						FB.logout();
						Parse.User.logOut();
						location.reload();
					});
					$('#login-fb').click(function(){
						console.log('login clicked');
						Parse.FacebookUtils.logIn('public_profile,email', {
							success: function(user) {
								if (!user.existed()) {
									console.log("User signed up and logged in through Facebook!");
								} else {
									console.log("User logged in through Facebook!");
								}

								//get and set the name and others
								console.log(user);
								$.get(graph_path + '/me', {access_token:FB.getAccessToken()}, function(data){
									console.log(data);
									//update the user's name
									var user = Parse.User.current();
									user.set('name', data.name);
									user.save(null, {
										success: function(){
											console.log('updated user name');
										}, 
										error: function(user, error){
											console.log('failed w/ error code: ' + error.message);
										}
									});
								});
								//reload the page
								location.reload();
							},
							error: function(user, error) {
								console.log("User cancelled the Facebook login or did not fully authorize.");
							}
						}); // Parse.FacebookUtils.logIn...
					});
				}); // $('#user-menu').empty().append(data).ready( function(){

				//if logged in, linked up the current FB user w/ Parse User
			});
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
